@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (max-width: 990px) {
  .hamburger {
    display: block;
  }
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 5px 0 0 !important;
    padding: 8px 10px !important;
    font-size: 10px !important;
  }

  #team {
    text-align: center !important;
  }
}

@media (max-width: 500px) {
  #appointment-button {
    margin-left: -4rem !important;
  }
  footer,
  #services-wrapper {
    text-align: center;
    justify-content: space-around;
  }

  .fbfb {
    margin-top: 1.5rem;
    text-align: center;
  }
}
